/**
 * Created by Dawid Majdański on 20.02.2019.
 */
.THIS .caseFormContainer{

}

.THIS .fieldset1{
    font-size: 118%;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 1rem;
}