/**
 * Created by Majdan on 22.02.2019.
 */
.THIS.myOrdersContainer{
    position: absolute;
    top: 193px;
    left: 24%;
    cursor: pointer;
    z-index: 97;
    width: 7%;
    height: 32px;
    color: white;
    font-weight: 400;
    font-size: .875rem;
    font-family: Lato;
    line-height: normal;
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.THIS.myOrdersContainer:hover{
    background-color: rgb(83, 85,86, 0.65);
}