/**
 * Created by Dawid Majdański on 12.02.2019.
 */
.THIS.myOrdersContainer{
    width: 100%;
    position: relative;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

.THIS .titleMyOrders{
    font-weight: bold;
    font-size: 200%;
    padding-left: 5px;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
}

.THIS .singleOrderContainer{
    overflow: hidden;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: auto;
    min-height: 90px;
    width: 70%;
    margin-left: 15%;
    position: relative;
    float: left;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 21px !important;
    background-color: white;
    transition: 0.8s;
    font-size: 125%;
}

.THIS .singleOrderContainer:hover{
    background-color: #e8ffdc;
}

.THIS .spanInfoContainer{
    font-size: 120%;
    font-family: 'Lucida Sans Unicode'
}

.THIS .itemInfoContainer{
    overflow: hidden;
    transition: max-height 0.85s;
    max-height: 0;
}

.THIS .caseReel{
    text-align: center;
}

.THIS .orderReel{
    text-align: center;
}

.THIS .downIcoContainer{
    cursor: pointer;
    width: 30px;
    margin: auto;
    transition: 0.45s;
}

.THIS .childContainer{
    position: relative;
    padding-bottom: 0.65rem;
}

.THIS .orderInfo{
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 2px;
}

.THIS .complaintBtn{
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.THIS .statusContainer{
    width: 64%;
    padding-top: 1.25rem;
    float: left;
}

.THIS .caseMoreInfo{
    border-top: 1px solid gainsboro;
    float: left;
    width: 100%;
}

.THIS .caseEmailsContainer{
    float: left;
    width: 100%;
    margin-top: 1.5rem;
    border-top: 1px solid gainsboro;
    padding-top: 0.25rem;
    overflow-y: auto;
    height: 265px;
}

.THIS .emailContent{
    border-bottom: 1px solid gainsboro;
    margin-bottom: .5rem;
    font-size: 80% !important;
    color: gray;
}

.THIS .singleEmail{
    text-align: justify;
    border: 1px solid gainsboro;
    margin: 0.6rem;
    margin-right:1.5rem !important;
    padding: 1rem;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.5);
}

.THIS .caseBanner{
    text-align: right;
}

.THIS .commentsContainer{
    float: left;
    width: 100%;
}

.THIS .caseProductInfoContainer{
    float: left;
    width: 33.5%;
    padding-top: 1.25rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-left: 1px solid gainsboro;
    margin-left: 18px;
}

.THIS .caseContainer{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.8s;
}

.THIS .caseContainer:hover{
    background-color: #f8fff5;
}

.THIS .casesContainer{
    display: inline-block;
    width: 74%;
    margin-left: 13%;
    font-size: 125%;
}

.THIS .caseInfo{
    transition: max-height 0.85s;
    max-height: 0;
    overflow: hidden;
}

.THIS .pagination {
  display: inline-block;
}
.THIS .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.THIS .revertPagination{
    cursor:default;
}
.THIS .revertPagination:hover{
    background-color: white !important;
}
.THIS .pagination a.active {
  background-color: #3762a8;
  color: white;
}
.THIS .pagination a:hover:not(.active) {background-color: #ddd;}