/**
 * Created by Dawid Majdański on 04.02.2019.
 */

.THIS .tabsetPadding{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.THIS .searchParamsGridStyle{
    padding-top: 0.6rem;
    width: 100%;
}

.THIS .iconPosition{
    padding-top: 1px;
    padding-left: 1px;
}

.THIS .siteforceServiceBody{
    display: none;
}

.THIS .advancedSearchDiv{
    position: absolute;
    top:0;
    left: -345px;
    width: 304px;
    background-color: white;
    border-radius: 5px;
    z-index: 97;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    overflow:hidden;
    transition: 0.55s;
}

.THIS .slds-select{
    font-style: italic;
}

.THIS .arrowContainer{
    height:35px;
    width:35px;
    background-color:#eaeaea;
    position:absolute;
    top: 0;
    left:-38px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.THIS .custom-slds-icon-clear{
    position: absolute;
    top: 459px;
    right: 159px;
    cursor:pointer;
}

.THIS .custom-slds-icon-search{
    position: absolute;
    top: 459px;
    right: 131px;
    cursor:pointer;
}

.THIS .advSearchButtonsContainer{
    position: absolute;
    top: 7px;
    right: 8px;
    border-left: 1px solid #d0d0d0;
    height: 32px;
}

.THIS .arrowContainer:hover{
   transform: rotate(-90deg);
}

.THIS .rotate90ArrowContainer{
    transform: rotate(-90deg);
}

.THIS .rotate0ArrowContainer{
    transform: rotate(0deg);
}

.THIS .displayModal{
    height: 486px;
}

.THIS .hideModal{
    height: 0%;
}

.THIS .advSearchModalTabset{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.THIS .cartContainer{
    position: absolute;
    top: 220%;
    left: 114.3%;
    cursor: pointer;
    z-index: 97;
    width: 9%;
    height: 91%;
    transition: 0.35s;
    overflow: hidden;
}

.THIS .cartPreview{
    right: -49.3%;
    top: 112px;
    background-color: rgb(90, 91, 93);
    position: absolute;
    height: 0px;
    width: 259px;
    transition: 0.35s;
    overflow: hidden;
}

.THIS .productsInCartBtn{
    position: absolute;
    bottom: 1.8rem;
    left: 1.2rem;
    right: 1.2rem;
    border-radius: 0;
    width: 83.5%;
    transition: .6s;
}

.THIS .iconScrollUp{
    position: absolute;
    bottom: -1px;
    right: 118px;
    cursor: pointer;
}

.THIS .myOrdersContainer{
    position: absolute;
    top: 220%;
    left: -0.6%;
    cursor: pointer;
    z-index: 97;
    width: 15%;
    height: 91%;
    color: white;
    font-weight: 400;
    font-size: .875rem;
    font-family: Lato;
    line-height: normal;
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.THIS .myOrdersContainer:hover{
    background-color: rgb(83, 85,86, 0.65);
}

.THIS .cartContainer:hover{
    background-color: rgb(90, 91, 93);
}

.THIS .cartIco{
    width: 33px;
    position: static;
    padding-top: 4px;
    padding-left: 9px;
}

.THIS .cartItemsQuantity{
    background: #ff8300;
    border-radius: .8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
    position: absolute;
    left: 33px;
    top: 9px;
}

.THIS .cartItemsTotalPrice{
    color: white;
    position: absolute;
    top: 8px;
    right: 12px;
    font-family: 'Lucida Sans Unicode';
    font-size: 105%;
    overflow: hidden;
    width: 0;
    transition: 0.35s;
    margin-left: 70px;
}

.THIS .cartEmptyInfo{
    color: white;
    font-size: 115%;
    text-align: center;
    font-style: italic;
    padding-top: 25px;
}