/**
 * Created by Majdan on 06.02.2019.
 */
.THIS .slds-post{
    background-color: #fafafa;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);

}

.THIS .slds-feed{
    max-width: 65.5rem;
    margin: auto;
    margin-left: 4px !important;
    margin-top: 0 !important;
    padding-right: 5px;
}

.THIS .postContainer{
    position: relative;
}

.THIS .slds-media__figure{
    padding-top: 5px;
}

.THIS .slds-media__body{
    padding-top: 5px;
}

.THIS .slds-post__content{
    margin-bottom: 1.0rem;
}

.THIS .checked {
    color: orange;
}

.THIS .starsContainer{
    position: absolute;
    right: 40px;
}