/**
 * Created by Majdan on 03.02.2019.
 */
.THIS .slds-carousel__content{
    display: none;
}

.THIS .slds-button_icon-x-small {
    display: none;
}

.THIS .slds-carousel__image{
    cursor: default;
    object-fit: contain;
    max-height: 400px;
    max-width: 400px;
}

.THIS.productDetailsMainCard{
    height: 500px;
}

.THIS .slds-carousel__image>img{
    width: 100%;
    height: 350px;
    object-fit: contain;
    padding-bottom: 3px;
    padding-top: 3px;    
}

.THIS.cBM_ProductDetails{
    height: 400px;
}

.THIS .carouselContainer{
    max-width: 300px;
    max-height: 300px;

    padding-bottom: 1rem;
}

.THIS .container {
    width: 200px;
    background-color: #ddd;
}

.THIS .avgRating {
    text-align: right;
    padding: 5px;
    color: white;
}

.THIS .avgRatingInner {
    width: 0px;
    background-color: #2196F3;
}

.THIS .starsRatingPos{
    position: absolute;
    z-index: 97;
    top: 32px;
    right: 127px;
    text-align: center;
}

.THIS .userCommentBox{
    background-color: #fafafa;
    width: 100%;
    max-height: 40vh;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    position: relative;
    overflow-y: auto;
}

.THIS .upperSeparator{
    border-top: 1px solid #cecece;
    width: 97%;
    position: absolute;
    top: 30px;
    padding-left: 1rem;
    margin-left: 15px;
}

.THIS .commentDateContainer{
    position: absolute;
    left: 15px;
    top: 5px;
    font-style: italic;
}

.THIS .commentContainer{
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
    padding-bottom: 15px;
}

.THIS .ratingContainer{
    position: absolute;
    top: -6px;
    left: 200px;
}

.THIS .editButtonContainer{
    position: absolute;
    right: 50px;
    top: 2px;
    cursor: pointer;
}

.THIS .deleteButtonContainer{
    position: absolute;
    right: 15px;
    top: 2px;
    cursor: pointer;
}

.THIS .slds-input{
    line-height: 1.874rem;
    padding-right: 0.20rem !important;
}

.THIS .tabsetContainer{
    margin-top: 89px;
    height: auto;
    min-height: 200px;
}

.THIS.mainContainer{
    width: 80%;
    margin: auto;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    padding: 1rem;
    border-radius: 5px;
    height: auto;
    background-color: #fdfffb;
    transition: 0.8s;
}

.THIS .addToCartButton{
    transition: 0.8s;
    position: absolute;
    top: 574px;
}